<h1><%= "#{event.away_team} @ #{event.home_team}" %></h1>
 <div id="bet_tabs"> 	
 	<ul>
 		<li><a href="#handicap">Handicap</a></li>
 		<li><a href="#over_under">Over Under</a></li>
 	</ul>	
 	<div id="handicap"> 	
 		<%= form_for bet, :html => { :id => "handicap_bet_form" } do |f| %>	 
 			
		 <p>
		 	<h3>
		 		<% if event.sport == 3 %>
		 			<%= "This is a moneyline bet: " %>
		 		<% elsif event.spread > 0 %>
		 			The <%= event.home_team %> are favored by <%= event.spread %> points
		 		<% else %>
		 			<%= event.away_team %> are favored by <%= event.spread.abs %> points
		 		<% end %>
		 	</h3>
		 	<%= hidden_field_tag 'event_id', event.id %>
		 	<%= f.hidden_field 'sport', :value => event.sport %>
		 	<%= f.hidden_field 'pending', :value => true %>
		 	<%= f.hidden_field 'parlay', :value => false %>
		 	<% if event.moneyline_home %>
		 		<%= event.home_team %> (<%= event.moneyline_home %>): <%= f.radio_button(:bet_type, 'home') %><br />
			 	<%= event.away_team %> (<%= event.moneyline_away %>): <%= f.radio_button(:bet_type, 'away') %>
		 	<% else %>
			 	<%= event.home_team %> (<%= -event.spread %>): <%= f.radio_button(:bet_type, 'home') %><br />
			 	<%= event.away_team %> (<%= event.spread %>): <%= f.radio_button(:bet_type, 'away') %>
			<% end %><br />
		 	Wager: <%= f.number_field :amount, :min => 1, :class => "number_input" %>
		 </p>
		 <p><%= f.submit 'Place Bet!', :class => 'button place_bet' %></p>
		 <% end %>
	</div>
	<div id="over_under">
		<%= form_for bet, :html => { :id => "over_under_bet_form" }  do |f| %>	 
		 <p>
		 	<h3>
		 		Total Points: <%= event.total_points %>
		 	</h3>
		 	<%= hidden_field_tag 'event_id', event.id %>
		 	<%= f.hidden_field 'sport', :value => event.sport %>
		 	<%= f.hidden_field 'pending', :value => true %>
		 	<%= f.hidden_field 'parlay', :value => false %>
		 	Over: <%= f.radio_button(:bet_type, 'over') %><br />
		 	Under: <%= f.radio_button(:bet_type, 'under') %><br/>
		 	Wager: <%= f.number_field :amount, :min => 1, :class => "number_input" %>
		 	<p><%= f.submit 'Place Bet!', :class => 'button place_bet' %></p>
		 </p>
		 <% end %>
	</div>	 
</div>	
<script type="text/javascript">
	$("#bet_tabs").tabs();
	  $("#handicap_bet_form").submit(function (e) {
	  	e.preventDefault();
	  	if ($(this).children('input[name="bet[bet_type]"]:checked').length > 0 && $(this).children('input[type="number"]').val() > 0)
	  		this.submit();
	  	else
	  		alert("You must select a team to beat the spread, and your wager must be greater than zero.");
	  });
	  
	  $("#over_under_bet_form").submit(function (e) {
	  	e.preventDefault();
	  	if ($(this).children('input[name="bet[bet_type]"]:checked').length > 0 && $(this).children('input[type="number"]').val() > 0)
	  		this.submit();
	  	else
	  		alert("You must predict whether the actual total points will be over/under the predicted total, and your wager must be greater than zero.");
	  });
</script>
