<div id="parlay_game_list">
	<h2>Select Up to 4 games</h2>
	<div id="parlay_wager">
		<span>Amount: </span><%= number_field_tag :amount, 1, :min => 1, :class => "number_input"%><br />
		<div>Selected games: 
			<ul id="parlay_selected_games">
			</ul>
			<div>Winning payout: <span class="winning_payout">N/A</span></div>
			<%= submit_tag "Place Pick!", :class => 'button place_bet' %>
		</div>
	</div>
	<table id="parlay_game_table">
	<% if games.length > 0 %>	
			<% games.each do |game| %>
			
			<% if sport != game.sport %>
			<tr>
				<td class="table_left"><h2><%= LEAGUE_NAMES_ABBR[game.sport-1] %> Games</h2></td>
				<% sport = game.sport %>
			</tr>
			<tr>
				<td class="table_left">Game Day</td>
				<td>Matchup</td>
				<td>Add to Parlay</td>
			</tr>
			<% end %>
			
			<tr>
				<td class="table_left"> 
					<span>
						<span style="font-weight:bold">
							<%= game.start_time.strftime("%I:%M").upcase %>
						</span>
						<br />
						<%= game.start_time.strftime("%P %Z") %>
						<br />
						<%= game.start_time.strftime("%m-%d ") %>
					</span>
				</td>
				<td>
					<span class="featured_team_name"><%= game.away_team %><span class="spread_text">(
						<% if !game.spread.nil? %>
							<%= -game.spread %>
						<% else %>
							<%= game.moneyline_away %>					 
						<% end %> 
						)</span></span> @ <span class="featured_team_name"><%= game.home_team %><span class="spread_text">(
							<% if !game.spread.nil? %> 
								<%= game.spread %>
							<% else %>
								<%= game.moneyline_home %>
							<% end %>)</span></span>
				</td>
				<td style="display:none" id="<%= 'parlay_event_checkbox_' + game.id.to_s %>" class="table_right">				
					<%= check_box_tag 'event_id[]', game.id %>
					<script id="<%= 'parlay_event_' + game.id.to_s %>" type="text/javascript">
						$(function () {						
							$("#"+"<%= 'parlay_event_' + game.id.to_s %>").siblings('input').change(function (e) {
								if (this.checked) {
									if (num_games == 4) {
										this.checked = false;
										alert("maximum of 4 games in parlay pick!");
									} else {
										num_games += 1;
										$("#parlay_selected_games").append("<li data-id='<%= game.id %>'>Picked <strong>" + $(this).parent().attr('data-bet') + "</strong> on <%= game.away_team %> (" + 
										<% if game.spread.nil? %>
											<%= game.moneyline_away %> 
										<% else %> 
											<%= game.spread %>
										<% end %> + ")" + " @ " + "<%= game.home_team %> (" + 
											<% if game.spread.nil? %>
													<%= game.moneyline_home %> 
											<% else %> 
													<%= game.spread %> 
											<% end %> + ")" + "</li>");					
										if (num_games > 1)	
											$(".winning_payout").text("$" + (parseInt($(".number_input").val()) * parlay_odds[num_games-2]).toFixed(2).toString());
										else
											$(".winning_payout").text("N/A");
									}
								} else {
									num_games -= 1;
									$("#parlay_selected_games").children("li[data-id='<%= game.id %>']").remove();
									if (num_games > 1)	
										$(".winning_payout").text("$" + (parseInt($(".number_input").val()) * parlay_odds[num_games-2]).toFixed(2).toString());
									else
										$(".winning_payout").text("N/A");						
								}
							});
						});
					</script>
				</td>
			</tr>
			<tr>
				<td class="add_border table_left">
				</td>
				<td class="add_border">
					<%= hidden_field_tag "sport[#{game.id}]", game.sport %>
					Pick <%= game.home_team %>: <%= radio_button_tag("bet_type[#{game.id}]", 'home') %>
					Pick <%= game.away_team %>: <%= radio_button_tag("bet_type[#{game.id}]", 'away') %><br/>
					Pick Over (<%= game.total_points %>): <%= radio_button_tag("bet_type[#{game.id}]", 'over') %>
					Pick Under (<%= game.total_points %>): <%= radio_button_tag("bet_type[#{game.id}]", 'under') %>
					<script id="<%= 'parlay_event_bet_' + game.id.to_s %>" type="text/javascript">
						$(function () {
							$("#"+"<%= 'parlay_event_bet_' + game.id.to_s %>").siblings('input').click(function () {
								$("#" + "<%= 'parlay_event_checkbox_' + game.id.to_s %>").show();
								$("#" + "<%= 'parlay_event_checkbox_' + game.id.to_s %>").attr('data-bet', $(this).val());
							});
							
						})
					</script>
				</td>
			</tr>
			<tr><td class="table_left"><br /></td></tr>
			<% end %>		
	<% else %>
			<tr><td>There are no games today for your selected sport</td></tr>	
	<% end %>
	</table>
</div>
