<div id="sign_up">
	<%= image_tag (asset_path "PD_logo.png"), :class => "overlay_logo_signup" %> 
	<div class="sign_up_form">
		<span class="close_button">x</span>
		<h1>Create an Account</h1>
		<h6>All Fields Required</h6>
		
		<%= form_for @user do |f| %>
		 <% if @user.errors.any? %>
		  <div class="error_messages">
		  	<h2>For is invalid</h2>
			<ul>
				<%for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		  </div>
		 <% end %>
		 <p>
		 	<%= f.label :first_name, :class => "reg_label" %>: 
		 	<%= f.text_field :first_name %>
		 </p>
		 <p>
		 	<%= f.label :last_name, :class => "reg_label" %>: 
		 	<%= f.text_field :last_name %>
		 </p>
		 <p>
		 	<%= f.label :email, :class => "reg_label" %>: 
		 	<%= f.text_field :email %>
		 </p>
		 <p>
		 	<%= f.label :username, :class => "reg_label" %>: 
		 	<%= f.text_field :username %>
		 </p>
		 <p>
		 	<%= f.label :password, :class => "reg_label" %>: 
		 	<%= f.password_field :password %>
		 </p>
		 <p>
		 	<%= f.label :password_confirmation, :class => "reg_label" %>: 
		 	<%= f.password_field :password_confirmation %>
		 </p>
		 <p>
		 	<%= f.check_box :accept_terms %> <span style="display:inline; font-size:12px;">I agree to the <a class="terms_link" target="_blank" href="/terms_of_service">terms of service</a> and the <a class="terms_link" target="_blank" href="/privacy">privacy policy</a>
		 </p>
		 <p><%= f.submit 'Create Account', :class => 'button create_accnt submit_btn' %></p>
		<% end %>
	</div>
</div>
