<div id="profile">	
	<h2>
		<% if @user.profile_pic.url != "/images/missing.jpg" %>
	 		<%= image_tag @user.profile_pic.url(:medium), :class => "public_profile_pic" %>
		<% end %> <%= @user.username.upcase %>
	</h2>  	
	<hr />
	<div class="box_number">
		<span>WINS</span>
		<div style="color:rgb(125,203,31)"><%= @user.wins %></div>
	</div>
	<div class="box_number">
		<span>LOSSES</span>
		<div style="color:red"><%= @user.losses %></div>	 				
	</div>
	<div class="box_number">
		<span>TIES</span>
		<div><%= @user.ties %></div>	 				
	</div>
	<div class="box_number">
		<span>DUCKS</span>
		<div style="color:#F84A0E"><%= @user.bankroll.round(2) %></div>
	</div>
</div>
 <hr />
 <h2 class="pending_wagers_header">Pending Wagers</h2>
 <table class="pending_wagers_table">
 	<% if @pending_bets.length > 0 %>
 		<thead>
 			<th>Status</th>
 			<th>Amount</th>
 			<th>Pick</th>
 			<th>Event</th>
 			<th>Gameday</th>
 			<th>Purchase</th>
 		</thead>
	 	<% @pending_bets.each_with_index do |bet, i| %>
	 		<tr class="pending_bet_info">	 		
	 		<% if current_user && current_user.purchases.map(&:bet_id).include?(bet.id) %>
		 			<td><span class="public_bet">Purchased!</span></td>
		 			<td><%= bet.amount %>d</td>
		 			<% if bet.bet_type == "over" || bet.bet_type == "under" %>
		 				<td><%= "#{bet.event.bet_type(bet.bet_type)}(#{bet.event.total_points})" %></td>
		 			<% else %>
		 				<td><%= bet.event.bet_type(bet.bet_type) %></td>
		 			<% end %>
		 			<td><a href="<%= event_path(bet.event.id) %>"><%= "#{bet.event.away_team}(#{-bet.event.spread}) @ #{bet.event.home_team}(#{bet.event.spread})"%></a></td>
		 			<td><%= bet.event.start_time.strftime("%m-%d") %></td>
		 			<td></td>				 	
	 		<% else %>			 		 								
	 			<% if bet.money_price > 0 %>	
	 				<td><span class="private_bet">HIDDEN:</span></td>
	 				<td>N/A</td>
	 				<td>N/A</td>
	 				<% if !bet.event.spread.nil? %>
	 					<td><a href="<%= event_path(bet.event.id) %>"><%= "#{bet.event.away_team}(#{-bet.event.spread}) @ #{bet.event.home_team}(#{bet.event.spread})" %></a></td>
	 				<% else %>
	 					<td><a href="<%= event_path(bet.event.id) %>"><%= "#{bet.event.away_team}(#{bet.event.moneyline_away}) @ #{bet.event.home_team}(#{bet.event.moneyline_home})" %></a></td>
	 				<% end %>
	 				<td><%= bet.event.start_time.strftime("%m-%d") %></td>
	 				<td><%= link_to "Purchase bet info for #{bet.money_price} dollars", pay_money_for_bet_path(bet.user, bet.id),:class => "purchase_bet_info_for_money", :data => {:username => bet.user.username, :home_team => bet.event.home_team, :away_team => bet.event.away_team, :price => bet.money_price } %></td>		 								
	 			<% else %>
			 		<td><span class="public_bet">VISIBLE:</span></td>
			 		<td><%= bet.amount %>d</td>
			 		<td><%= bet.event.bet_type(bet.bet_type) %></td>
			 		<% if !bet.event.spread.nil? %>
			 			<td><a href="<%= event_path(bet.event.id) %>"><%= "#{bet.event.away_team}(#{-bet.event.spread}) @ #{bet.event.home_team}(#{bet.event.spread})" %></a></td>
			 		<% else %>
			 			<td><a href="<%= event_path(bet.event.id) %>"><%= "#{bet.event.away_team}(#{bet.event.moneyline_away}) @ #{bet.event.home_team}(#{bet.event.moneyline_home})" %></a></td>
			 		<% end %>
			 		<td><%= bet.event.start_time.strftime("%m-%d") %></td>
	 			<% end %>
 			<% end %>
 			</tr>
	 	<% end %>
	 	
	 <% else %>
	 	<tr>No pending bets at this time.</tr>
	 <% end%> 
 </table>
 <div class="confirm_purchase_bet_info">
 	<h4>Purchase bet info?</h4>
 	<span> </span>
 </div>
 <br />
 <br /> 
 
 <h2 class="pending_wagers_header">Pick History</h2>
 <div id="bet_history">
	<% if @past_twenty.length > 0 %>
	 		<table class="past_wagers_table">
	 			<thead>
			 		<tr>
			 			<th>Amount</th>
			 			<th>Pick</th>
			 			<th>Event</th>
			 			<th>Total Points</th>
			 			<th>Gameday</th>
			 			<th>Outcome</th>
			 		</tr>
			 	</thead>	
	 		<% @past_twenty.each do |bet| %>
	 		<tbody>
	 			<tr class="past_bet_info">
	 			<td><%= bet.amount %></td>
	 			<td><%= bet.event.bet_type(bet.bet_type) %></td>
	 			<% if !bet.event.spread.nil? %>
	 				<td><%= "#{bet.event.away_team}(#{-bet.event.spread})@#{bet.event.home_team}(#{bet.event.spread})"%></td>
	 			<% else %>
	 				<td><%= "#{bet.event.away_team}(#{bet.event.moneyline_away})@#{bet.event.home_team}(#{bet.event.moneyline_home})"%></td>
	 			<% end %>
	 			<td><%= bet.event.total_points %></td>
	 			<td>
 					<%= bet.event.start_time.strftime("%m-%d") %>
 				</td>	
	 			<% if bet.winning? %>
	 				<td style="color:green">WIN</td>
	 			<% else %>
	 				<td style="color:red">LOSS</td>
	 			<% end %>
	 			</tr>
	 		</tbody>
	 		<% end %>
	 		</table>
	 	<% else %>
	 	No bet history.
	 	<% end %>
</div>
<br />
<br />
<h1><%= Date.today.strftime("%B") %></h1>
<table class="user_calendar" cellspacing="0">
	<thead>
		<tr>
			<th>Mon</th><th>Tue</th><th>Wed</th>
			<th>Thu</th><th>Fri</th><th>Sat</th>
			<th>Sun</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="padding" colspan="3"></td>
			<% Time.now.end_of_month.day.times do |i| %>
				<% date_bets = @user.bets.where("closed_at between ? and ?", Time.new(Date.today.year, Date.today.month, i+1).beginning_of_day, Time.new(Date.today.year, Date.today.month, i+1).end_of_day) %>
				<% if date_bets.length > 0 %>	
					<td class="date_has_event red">
					<% else %>	
					<td class="date_has_event">
					<% end %>
					<%= i + 1 %>					
					<% if date_bets.length > 0 %>							
							<div class="events">
								<ul>
									<% date_bets.each do |bet| %>
									<li>
										<span class="title">
											<% if !bet.event.spread.nil? %>
									 			<%= "#{bet.event.away_team}(#{-bet.event.spread}) @ #{bet.event.home_team}(#{bet.event.spread})" %></span>
							 				<% else %>
									 			<%= "#{bet.event.away_team}(#{bet.event.moneyline_away}) @ #{bet.event.home_team}(#{bet.event.moneyline_home})" %></span>
							 				<% end %>
										</span>
										<span class="desc">												
											<%= "Total Points: #{bet.event.total_points}" %><br />
											<%= "#{@user.username} put #{bet.amount} ducks on #{bet.event.bet_type(bet.bet_type)}" %><br />
											<% if bet.winning? %>
											 <%= "#{@user.username} Won!" %>
											<% else %>
											 <%= "#{@user.username} Lost..." %>
											<% end %>
										</span>
									</li>
									<% end %>
								</ul>
							</div>							
					<% end %>
				</td>
				<% if i == 3 || i == 10 || i == 17 || i == 24 %>				
				</tr>
				<tr>
				<% end %>
			<% end %>
			<td class="padding"></td>
		</tr>
	</tbody>
	<tfoot>
		<th>Mon</th><th>Tue</th><th>Wed</th>
		<th>Thu</th><th>Fri</th><th>Sat</th>
		<th>Sun</th>
	</tfoot>
</table>
<br />
<br />

 <% if @past_straights.length > 0 %>
<table class="track_record_graph" style="display:none">
	<caption>Earnings: Straight Bets</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
		<% @straight_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
		<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Ducks</th>
			<% total = 0 %>
			<td>0</td>
			<% @past_straights.each do |bet| %>
			<% bet.winning ? total += bet.amount : total -= bet.amount %>
				<td><%= total %></td>
			<% end %>	
		</tr>
	</tbody>
</table>
<% end %>

<% if @past_parlays.length > 0 %>
<table class="track_record_graph" style="display:none">
	<caption>Earnings: Parlay Bets</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
		<% @parlay_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
		<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Ducks</th>
			<td>0</td>
			<% total = 0 %>
			<% @past_parlays.each do |parlay| %>
			<% parlay.winning ? total += parlay.amount * PARLAY_ODDS[parlay.bets.length-1]: total -= parlay.amount %>
				<td><%= total %></td>
			<% end %>	
		</tr>
	</tbody>
</table>
<% end %>

<% if @past_week_earnings_straight > 0 %>
<table class="past_week_earnings_graph" style="display:none">
	<caption>Past Week Earnings</caption>
	<thead>
		<th scope="col"></th>
	</thead>
	<tbody>
		<tr>
			<th scope="row">straight</th>
			<td><%= @past_week_earnings_straight %></td>
		</tr>
		<tr>
			<th scope="row">nfl</th>
			<td><%= @past_week_earnings_nfl %></td>
		</tr>
		<tr>
			<th scope="row">nba</th>
			<td><%= @past_week_earnings_nba %></td>
		</tr>
		<tr>
			<th scope="row">mlb</th>
			<td><%= @past_week_earnings_mlb %></td>
		</tr>
		<tr>
			<th scope="row">nhl</th>
			<td><%= @past_week_earnings_nhl %></td>
		</tr>
	</tbody>
</table>
<% end %>


<% if @nfl_past_bets.length > 0 %>
<table class="earnings_by_sport_graph" style="display:none">
	<caption>NFL Record</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
			<% @nfl_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">NFL Earnings</th>
				<% total = 0 %>
				<td>0</td>
				<% @nfl_past_bets.each do |bet| %>
				<% bet.winning ? total += bet.amount : total -= bet.amount %>
				<td><%= total %></td>
				<% end %>	
		</tr>		
	</tbody>
</table>
<% end %>

<% if @nba_past_bets.length > 0 %>
<table class="earnings_by_sport_graph" style="display:none">
	<caption>NBA Record</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
			<% @nba_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">NBA Earnings</th>
				<% total = 0 %>
				<td>0</td>
				<% @nba_past_bets.each do |bet| %>
				<% bet.winning ? total += bet.amount : total -= bet.amount %>
				<td><%= total %></td>
			<% end %>	
		</tr>		
	</tbody>
</table>
<% end %>

<% if @mlb_past_bets.length > 0 %>
<table class="earnings_by_sport_graph" style="display:none">
	<caption>MLB Record</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
			<% @mlb_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">MLB Earnings</th>
				<% total = 0 %>
				<td>0</td>
				<% @mlb_past_bets.each do |bet| %>
				<% bet.winning ? total += bet.amount : total -= bet.amount %>
				<td><%= total %></td>
			<% end %>	
		</tr>		
	</tbody>
</table>
<% end %>

<% if @nhl_past_bets.length > 0 %>
<table class="earnings_by_sport_graph" style="display:none">
	<caption>NHL Record</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
			<% @nhl_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">NHL Earnings</th>
				<% total = 0 %>
				<td>0</td>
				<% @nhl_past_bets.each do |bet| %>
				<% bet.winning ? total += bet.amount : total -= bet.amount %>
				<td><%= total %></td>
				<% end %>	
		</tr>		
	</tbody>
</table>
<% end %>

<%= stylesheet_link_tag "visualize" %>
<%= stylesheet_link_tag "visualize-dark" %>
<%= stylesheet_link_tag "calendar" %>

<%= javascript_include_tag "js-class" %> 
<%= javascript_include_tag "excanvas" %>  
<%= javascript_include_tag "bluff-min" %>
<%= javascript_include_tag 'enhance' %>
<%= javascript_include_tag 'visualize.jQuery' %> 
<%= javascript_include_tag 'coda' %>
<script type="text/javascript">
$(function () {
	$(".track_record_graph").visualize({type: 'line', width: '520px'});
 	$(".past_week_earnings_graph").visualize({type: 'bar', width: '420px'});
  	$(".earnings_by_sport_graph").visualize({type: 'line', width: '250px'}); 
 })
</script>