 <div id="profile_tabs">	 	
 	
 	<ul>
 		<li><a href="#profile">PROFILE</a></li>
 		<li><a href="#manage_account">MANAGE ACCOUNT</a></li>
 		<li><a href="#bet_history">BET HISTORY</a></li>
 		<li><a href="#sales_summary">SALES AND PURCHASES</a></li>
 		<li><a href="#buy_ducks">BUY DUCKS</a></li>
 	</ul>
 	
 	<div id="profile">
 		<h2>OVERVIEW</h2>
 		<span class="box_number">
 			<span>WINS</span>
 			<div style="color:rgb(125,203,31)"><%= current_user.wins %></div>
 		</span>
 		<span class="box_number">
 			<span>LOSSES</span>
 			<div style="color:red"><%= current_user.losses %></div>	 				
 		</span>
 		<span class="box_number">
 			<span>TIES</span>
 			<div><%= current_user.ties %></div>	 				
 		</span>
 		<span class="box_number">
 			<span>DUCKS</span>
 			<div style="color:#F84A0E"><%= current_user.bankroll.round(2) %></div>
		</span>
 	</div>
 	
 	<div id="manage_account">
 		<%= form_for current_user do |f| %>	 		
 		
 		<div class="profile_header">
 				<% if current_user.profile_pic.url != "/images/missing.jpg" %>
 				<%= image_tag current_user.profile_pic.url(:medium), :class => "profile_pic"%>
 				<div style="font-size:28px"><%= current_user.first_name + " " + current_user.last_name %></div>
 				<span style="color:orange">aka</span><span><%= " " + current_user.username%></span>
 				<br />
 				<span class="upload_text">Change profile picture: </span>	 				
 				<%= image_tag (asset_path 'change_upload.png'), :class=> "upload_image change_upload_btn"%>
 				<%= f.file_field :profile_pic, :class => "hidden_upload_field" %>
 				<% else %>	 				
 				<%= image_tag current_user.profile_pic.url, :class => "missing_pic" %>
 				<div style="font-size:28px"><%= current_user.first_name + " " + current_user.last_name %></div>
 				<div>
 					<span style="color:orange">aka</span><span><%= " " + current_user.username%></span>
 				</div>
 				<br />
 				<span class="upload_text">Upload a profile picture!</span>	 				
 				<%= image_tag (asset_path 'upload_btn.png'), :class => 'upload_image upload_btn'%>
 				<%= f.file_field :profile_pic, :class => "hidden_upload_field" %>
 				<% end %>
 		</div>
 			<p>
			 	<%= f.label :first_name, :class => "reg_label" %>: 
			 	<%= f.text_field :first_name %>
			 </p>
			 <p>
			 	<%= f.label :last_name, :class => "reg_label" %>: 
			 	<%= f.text_field :last_name %>
			 </p>
			 <p>
			 	<%= f.label :username, :class => "reg_label" %>: 
			 	<%= f.text_field :username %>
			 </p>				 
			 <p><%= f.submit 'Update Account', :class => 'button submit_btn' %></p>
		<% end %>
 	</div>
 	
 	<div id="bet_history">
 		<% @past_twenty.each do |bet| %>
 			<% if bet.winning %>
 				<% if bet.event.sport == 3 %>
 					<div><%= "&bull; You <span style='color:green'>won</span> #{(bet.amount * bet.event.moneyline_home / 100).abs.round(2)} ducks on a bet for event <a class='colorful_link' href=#{event_path(bet.event.id)}>#{bet.event.away_team} @ #{bet.event.home_team}</a> on #{bet.closed_at.strftime('%B %d')} (bet: #{bet.event.bet_type(bet.bet_type)})".html_safe %></div>
 				<% else %>
	 				<div><%= "&bull; You <span style='color:green'>won</span> #{bet.amount} ducks on a bet for event <a class='colorful_link' href=#{event_path(bet.event.id)}>#{bet.event.away_team} @ #{bet.event.home_team}</a> on #{bet.closed_at.strftime('%B %d')} (bet: #{bet.event.bet_type(bet.bet_type)})".html_safe %></div>
	 			<% end %>
 			<% else %>
 					<div><%= "&bull; You <span style='color:red'>lost</span> #{bet.amount} ducks on a bet for event <a class='colorful_link' href=#{event_path(bet.event.id)}>#{bet.event.away_team} @ #{bet.event.home_team}</a> on #{bet.closed_at.strftime('%B %d')} (bet: #{bet.event.bet_type(bet.bet_type)})".html_safe %></div>
 			<% end %>
 		<% end %>
 	</div>
 	
 	<div id="sales_summary"> 	
 		<% if current_user.money > 0 %>
 			<h3>
 				Money Balance: <span style="color:green">$<%= current_user.money %></span> 				
 			</h3>
 			<div class="cashout_btn">Request Cashout</div>
 		<% else %>
 			<h3>Money Balance: $0</h3>
 		<% end %>
 		<hr />
 		<h3>Pending Payouts</h3>
 		<ul>
 		<% current_user.cashouts.where(:paid => false).each do |cashout| %>
 			<li class="pending_cashout">
 				Your cashout for $<%= cashout.amount %> made on <%= cashout.created_at.strftime("%B %d")%> is processing.
 			</li>
 		<% end %>
 		</ul>
 		<em>
 			***Please contact us at support@pickingducks.com if you do not receive your check within 14 days from making the request.</em>
 		<hr />
 		<% if current_user.purchases.length > 0 %>	
	 		<h3>Recent Purchases</h3>
	 		<% current_user.purchases.order("created_at DESC").limit(10).each do |purchase| %>
	 			<% if purchase.stripe_payment_token.nil? %>
		 			<div class="recent_transaction_line">
		 				
		 				&bull;<%= link_to purchase.bet.user.username, public_profile_path(purchase.bet.user.id), :class => "important_orange" %> wagered <span style="font-weight:bold;"><%= purchase.bet.amount %>d on <%= purchase.bet.event.bet_type(purchase.bet.bet_type) %> </span>for event 
		 				<a class="important_orange" href="<%= event_path(purchase.bet.event.id) %>">
		 					<span><%= purchase.bet.event.away_team %> @ <%= purchase.bet.event.home_team %>
						</a> on <%= purchase.bet.event.start_time.strftime("%m-%d") %>
		 			</div>
		 		<% else %>
		 			<div class="recent_transaction_line">
		 				&bull;You purchased <%= purchase.amount %> ducks on <%= purchase.created_at.strftime("%m-%d-%y") %>
		 			</div>
		 		<% end %>
	 		<% end %>
	 	<% else %>
	 		<h3>You have not made any purchases!</h3>
	 	<% end %>
 		<hr />
 		<% if @bet_sales.length > 0 %>
 			<h3>Recent Sales</h3>
	 		<% @bet_sales.each do |sale| %>
	 			<div class="recent_transaction_line">
	 				&bull;<%= link_to sale.user.username, public_profile_path(sale.user.id), :class => "important_orange" %> purchased your pick info for event <a class="important_orange" href="<%= event_path(sale.bet.event.id) %>">
		 					<span><%= sale.bet.event.away_team %> @ <%= sale.bet.event.home_team %></span>
						</a> on <%= sale.bet.event.start_time.strftime("%m-%d") %>
				</div>
	 		<% end %>
	 	<% else %>
	 		<h3>You have not made any sales.</h3>
	 	<% end %>
 	</div>
 	<!--
 	<div id="buy_ducks">
 		<h4>***Ducks priced at $0.05 each</h4>
 		<%= form_tag buy_ducks_path, :id => "buy_ducks_form" do %>	
 			<%= hidden_field_tag :stripe_card_token %>
 			<p>
 				<%= label_tag :amount, "Ducks to Purchase"%>
 				<%= number_field_tag :amount, 10, :min => 10, :class => "number_input", :id => "num_ducks_to_purchase" %>
 			</p>
	 		<p>
	 			<%= label_tag :card_number, "Credit Card Number" %>
	 			<%= text_field_tag :card_number, nil, name: nil %>
	 		</p>
	 		<p>
	 			<%= label_tag :card_code, "Security Code (CVV) "%>
	 			<%= text_field_tag :card_code, nil, name: nil %>
	 		</p>
	 		<p>
	 			<%= label_tag :card_month, "Card Expiration" %>
	 			<%= select_month nil, {add_month_numers: true}, {name:nil, id: "card_month"} %>
	 			<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year + 15}, {name: nil, id: "card_year"} %>
	 		</p>
	 		<p><%= submit_tag 'Buy Ducks', :class => 'button submit_btn', :id => "buy_ducks_btn" %></p>
	 		<span id="stripe_error" class="flash_error">
	 			<noscript>
	 				JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
	 			</noscript>
	 		</span>
	 	<% end %>
 	</div>
 	 <div class="confirm_buy_ducks">
	 	<h4>Purchase ducks?</h4>
	 	<span></span>
	 </div>
 </div>
 -->
 <h2 class="pending_wagers_header">Pending Wagers</h2>
 <table class="pending_wagers_table">
 	
 	<% if @pending_bets.length > 0 %>
 			<thead>
		 		<tr>
		 			<th>Amount</th>
		 			<th>Pick</th>
		 			<th>Event</th>
		 			<th>Gameday</th>
		 			<th>Make Private</th>
		 		</tr>
		 	</thead>	
		 	<% @pending_bets.each_with_index do |bet, i| %>		 	
		 		<tr class="pending_bet_info">	
		 			<td><%= bet.amount %>d</td>
		 			<% if bet.bet_type == "over" || bet.bet_type == "under" %>
		 				<td><%= "#{bet.event.bet_type(bet.bet_type)}(#{bet.event.total_points})" %></td>
		 			<% else %>
		 				<td><%= bet.event.bet_type(bet.bet_type) %></td>
		 			<% end %>
		 			<td>
		 				<a href="<%= event_path(bet.event.id) %>">
		 					<%= "#{bet.event.away_team}(#{-bet.event.spread}) @ #{bet.event.home_team}(#{bet.event.spread})" %></span>
	 					</a>
	 				</td>	 
	 				<td>
	 					<%= bet.event.start_time.strftime("%m-%d") %>
	 				</td>	
			 <% if bet.money_price < 0 %>	
			 	<td>
				 <%= form_tag make_bet_private_path(bet), :data => {:home_team => bet.event.home_team, :away_team => bet.event.away_team }, :class=>"make_bet_private" do %>
				 	
			 		<span>
			 			<%= number_field_tag 'bet[money_price]', :amount, :min => 1, :value => 1, :class => "number_input_small" %> dollars.
			 		</span>
				 		<%= submit_tag 'Set Price!', :class => "set_price_btn" %>
				 <% end %>
				 </td>				 
			<% else %>
				<td><div>This pick is private and purchaseable for a price of <%= bet.money_price %> dollars.</div></td>
			<% end %>
			</tr>
		<% end %>
		
	 <% else %>
	 	<tr>You have no pending picks at this time.</tr>
	 <% end%>	 
 </table>
 <div class="confirm_make_public">
 	<h4>Make bet for sale?</h4>
 	<span></span>
 </div>
 <br />
 <br />
 <h2>Pending Parlay Picks</h2>
 <table>
 	<% if @parlays.length > 0 %>
	 	<% @parlays.each do |parlay| %>
	 		<tr><td>Parlay for $<%= parlay.amount %></td></tr>
	 		<tr><td>Winning payout of $<%= parlay.amount * PARLAY_ODDS[parlay.bets.length-2] %></td></tr>
	 		<tr>
	 			<td>
	 				<ul>
	 		<% parlay.bets.each do |bet| %>		 		
	 				<li><%= bet.amount %>d on <%= bet.bet_type %> for event 
	 					<a href="<%= event_path(bet.event.id) %>">
	 						<span style="font-weight:bold">
	 							<%= bet.event.away_team %> @ <%= bet.event.home_team %> 							
	 						</span>
	 					</a> on <%= bet.event.start_time.strftime("%m-%d") %></li>	
	 		<% end %>	
	 				</ul>	
	 			</td>
	 		</tr>
	 	<% end %>
	 <% else %>
	 	<tr>You have no pending picks at this time.</tr>
	 <% end%>	 
 </table>
 <br />
 <br />

<% if @straight_change_dates.length > 0 %>
<table class="track_record_graph" style="display:none">
	<caption>Earnings: Straight Picks</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
		<% @straight_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
		<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Ducks</th>
			<% total = 0 %>
			<td>0</td>
			<% @past_straights.each do |bet| %>
				<% bet.winning ? total += bet.amount : total -= bet.amount %>
				<td><%= total %></td>
			<% end %>	
		</tr>
	</tbody>
</table>
<% end %>

<% if @parlay_change_dates.length > 0 %>
<table class="track_record_graph" style="display:none">
	<caption>Earnings: Parlay Picks</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
		<% @parlay_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
		<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Ducks</th>
			<td>0</td>
			<% total = 0 %>
			<% @past_parlays.each do |parlay| %>
			<% parlay.winning ? total += parlay.amount * PARLAY_ODDS[parlay.bets.length-1]: total -= parlay.amount %>
				<td><%= total %></td>
			<% end %>	
		</tr>
	</tbody>
</table>
<% end %>

<% if @past_week_earnings_straight > 0 %>
<table class="past_week_earnings_graph" style="display:none">
	<caption>Past Week Earnings</caption>
	<thead>
		<th scope="col"></th>
	</thead>
	<tbody>
		<tr>
			<th scope="row">straight</th>
			<td><%= @past_week_earnings_straight %></td>
		</tr>
		<tr>
			<th scope="row">nfl</th>
			<td><%= @past_week_earnings_nfl %></td>
		</tr>
		<tr>
			<th scope="row">nba</th>
			<td><%= @past_week_earnings_nba %></td>
		</tr>
		<tr>
			<th scope="row">mlb</th>
			<td><%= @past_week_earnings_mlb %></td>
		</tr>
		<tr>
			<th scope="row">nhl</th>
			<td><%= @past_week_earnings_nhl %></td>
		</tr>
	</tbody>
</table>
<% end %>

<% if @nfl_change_dates.length > 0 %>
<table class="earnings_by_sport_graph" style="display:none">
	<caption>NFL Record</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
			<% @nfl_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">NFL Earnings</th>
				<% total = 0 %>
				<td>0</td>
				<% @nfl_past_bets.each do |bet| %>
				<% bet.winning ? total += bet.amount : total -= bet.amount %>
				<td><%= total %></td>
				<% end %>	
		</tr>		
	</tbody>
</table>
<% end %>

<% if @nba_change_dates.length > 0 %>
<table class="earnings_by_sport_graph" style="display:none">
	<caption>NBA Record</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
			<% @nba_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">NBA Earnings</th>
				<% total = 0 %>
				<td>0</td>
				<% @nba_past_bets.each do |bet| %>
				<% bet.winning ? total += bet.amount : total -= bet.amount %>
				<td><%= total %></td>
			<% end %>	
		</tr>		
	</tbody>
</table>
<% end %>

<% if @mlb_change_dates.length > 0 %>
<table class="earnings_by_sport_graph" style="display:none">
	<caption>MLB Record</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
			<% @mlb_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">MLB Earnings</th>
				<% total = 0 %>
				<td>0</td>
				<% @mlb_past_bets.each do |bet| %>
				<% bet.winning ? total += bet.amount : total -= bet.amount %>
				<td><%= total %></td>
			<% end %>	
		</tr>		
	</tbody>
</table>
<% end %>

<% if @nhl_change_dates.length > 0 %>
<table class="earnings_by_sport_graph" style="display:none">
	<caption>NHL Record</caption>
	<thead>
		<tr>
			<th scope="col">0</th>
			<% @nhl_change_dates.each do |date| %>
			<th scope="col"><%= date %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">NHL Earnings</th>
				<% total = 0 %>
				<td>0</td>
				<% @nhl_past_bets.each do |bet| %>
				<% bet.winning ? total += bet.amount : total -= bet.amount %>
				<td><%= total %></td>
				<% end %>	
		</tr>		
	</tbody>
</table>
<% end %>
