<table id="featured_games_table">
<% if games.length > 0 %>	
	<% games.each do |game| %>
	<% if sport != game.sport %>
	<tr>
		<td style="border:none !important; margin-top:20px;position: relative; display: block;"><h2><%= LEAGUE_NAMES_ABBR[game.sport-1] %> Games</h2></td>
		<% sport = game.sport %>
	</tr>
	<tr>
		<th>Start Time</th>
		<th>Matchup</th>
		<% if game.sport == 3 %>
		<th>Moneyline</th>
		<% else%>
		<th>Handicap</th>
		<% end %>
		<th>Total Points</th>
		<th></th>
	</tr>
	<% end %>
	<tr>
		<td>
			<span style="font-weight:bold"><%= game.start_time.strftime("%I:%M%P").upcase %></span><br />
			<%= game.start_time.strftime("%m-%d") %>
		</td>
		<td>
			<span class="featured_team_name"><%= game.away_team %>@</span><br/> <span class="featured_team_name"><%= game.home_team %></span>
		</td>
		<td>
			<% if !game.spread.nil? %>
				<%= -game.spread %><br />
				<%= game.spread %>
			<% else %>
				<%= game.moneyline_home %><br />
				<%= game.moneyline_away %>				
			<% end %>
		</td>
		<td>
			over <%= game.total_points %><br />
			under <%= game.total_points %>
		</td>
		<% if current_user %>
		<td>
			<a href="<%= new_event_bet_path(game.id) %>" class="wager_link_home button black_gradient">Wager</a>
		</td>
		<% end %>
	</tr>
	<% end %>
<% else %>
	<tr><th>There are no games today for your selected sport</th></tr>
<% end %>
</table>