<!DOCTYPE html>
<html>
<head>
  <title>Picking Ducks</title>  
  <%= favicon_link_tag 'favicon.ico' %>
  
  
  <%= javascript_include_tag 'https://js.stripe.com/v1/' %>
  <%= javascript_include_tag "application" %>  
  
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body>	
	<header class="main header" id="top">
		<div class="container user-nav">
			<% if current_user %>
				<span style="color:white">
					Logged in as <a style="text-decoartion:underline" href="<%= user_path(current_user.id) %>"><%= current_user.email %></a>
					<%= link_to_function "<span class='logout_link' style='text-align:center'>Log out</span>".html_safe, "logout()" %>								
				</span>
				
			<% else %>
				<%= link_to_function "Register", "show_sign_up()", :class => "login_link" %> 
				<%= link_to_function "Log in", "show_log_in()", :class => "login_link" %>
			<% end %>
		</div>
	</header>
	<div class="container sports">
		<div class="container top-banner">

			<div class="container page-section">
			<a href="/" class="logo"><%= image_tag asset_path "pd-logo.png", :alt=>"Picking Duck- Your Sports Pick Marketplace" %></a>


			
			</div> <!-- end page section -->

		</div> <!-- end top banner -->
		
		<div class="nav">
			<ul class="site-nav">
				<a href="/"><li>HOME</li></a>
				<a href="<%= users_path %>"><li>PLAYER SEARCH</li></a>
				<a href="<">
				<% if current_user %>
					<a href="<%= user_path current_user %>"><li>MY PROFILE</li></a>
					<a href="<%= bets_home_path %>"><li>MAKE PICKS</li></a>
				<% end %>
				<a href="<%= sport_home_path(1) %>"><li>NFL</li></a>
				<a href="<%= sport_home_path(2) %>"><li>NBA</li></a>
				<a href="<%= sport_home_path(3) %>"><li>MLB</li></a>
				<a href="<%= sport_home_path(4) %>"><li>NHL</li></a>
				<a href="<%= how_to_play_path %>"><li>How to play</li></a>
			</ul>
		</div>
		<% if flash.keys.length > 0 %>
			<div id="flash_messages" style="padding-top:10px">	
				<% flash.each do |name, msg| %>
				 <%= content_tag :div, msg.html_safe, :class => "flash_#{name}" %>
				<% end %>
			</div>
			<% else %>
			<% end %>
		<% if !current_user %>
			
				<%= render :template => 'users/new', :locals => { :user => User.new } %>
			
				<%= render :template => 'sessions/new'%>
		<% end %>
		<div class="container main-content">	
			<div id="content">
			<%= yield %>			
			</div>
			<footer>
				<ul id="nav">
					<li><a href="/about_us" title="">About Us</a></li>
			        <li><a href="" title="">Contact Us</a></li>
			        <li><a href="/terms_of_service" title="">Terms of Service</a></li>
					<li><a href="/privacy" title="">Privacy</a></li>
					<li><a class="active" href="" title="">RSS</a></li>
			        <li><a class="right" href="" title="">&copy; 2013 Picking Ducks</a></li>
			    </ul>
			</footer>
		</div>
	</div>
</body>
</html>
